name: Run For buzhangjiuzhou

permissions:
  contents: read
  packages: write

on:
  workflow_dispatch:

jobs:
  build-image:
    uses: ./.github/workflows/build-container-image.yml
    with:
      file_to_build: Dockerfile
      push_to_images: |
        buzhangjiuzhou/mastodon
      cache: false
      tags: v4.5.1
    secrets: inherit

  build-image-streaming:
    uses: ./.github/workflows/build-container-image.yml
    with:
      file_to_build: streaming/Dockerfile
      push_to_images: |
        buzhangjiuzhou/mastodon-streaming
      cache: false
      tags: v4.5.1
    secrets: inherit